body{
  background-color: #eaeaeaea !important;
}
.navbar{
  background-image: linear-gradient(135deg,rgb(24,42,115) 0%,rgb(33,138,174) 69%,rgb(33,167,172) 89%) !important;
  color: white !important;
}

.masthead{
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,rgb(24,42,115) 0%,rgb(33,138,174) 69%,rgb(33, 167, 172) 89%) !important;
  height: 100vh;
}

.masthead>h1{
  font-size: 4em;
}

.content-body{
  margin-top: 5em;
}

li.media.list-group-item{
  display: flex;
}
.react-datepicker-wrapper{
  width: 100%;
}